{% extends "base.html" %}

{% block content %}

<h2 class="titulo-leilao"><a href="{% url 'catalogo:detalha_leilao' leilao.id %}">{{ leilao.name }}</a></h2>

<h5 class="periodo">{{ leilao.periodoInicio }} - {{ leilao.periodoFinal }}</h5>

<div class="detalha-lote">
    <table>
        <tr>
            <td><b>Nome</b></td>
            <td>{{ leilao.lote.name }}</td>
        </tr>
        <tr>
            <td><b>Descrição</b></td>
            <td>{{ leilao.lote.descricao }}</td>
        </tr>
        <tr>
            <td><b>Estado</b></td>
            <td>{{ estado }}</td>
        </tr>
        <tr>
            <td><b>Vendedor</b></td>
            <td>{{ leilao.lote.vendedor.username }}</td>
        </tr>
        <tr>
            <td><b>Status do Leilão</b></td>
            <td>{{ status }}</td>
        </tr>
        <tr>
            <td><b>Valor Inicial do Lote</b></td>
            <td>R$ {{ leilao.lote.valor_minimo_de_lote }}</td>
        </tr>
        <tr>
            <td><b>Valor Mínimo por Lance</b></td>
            <td>R$ {{ leilao.lote.valor_minimo_por_lance }}</td>
        </tr>
        {% if tipo_usuario == 'V' or tipo_usuario == 'L' or tipo_usuario == 'A' %}
        <tr>
            <td><b>Valor Mínimo de Reserva</b></td>
            <td>R$ {{ leilao.lote.valor_minimo_de_reserva }}</td>
        </tr>
        <tr>
            <td><b>Taxa de Comissão do Vendedor</b></td>
            <td>{{ leilao.lote.taxa_de_comissao }}</td>
        </tr>
        {% endif %}
    </table>
    
    {% if leilao.status != 'N' %}
    <h3>Lances:</h3>
    <table>
        <tr>
            <th>Valor</th>
            <th>Comprador</th>
        </tr>
        {% for lance in lista_de_lances %}
        {% if lance.leilao.id == leilao.id %}
        <tr>
            <td>R$ {{ lance.valor }}</td>
            <td>{{ lance.comprador.username }}</td>
        </tr>
        
        {% endif %}
        {% endfor %}
        
    </table>

    {% endif %}
    
    <div class="detalha-lote-botoes">
        {% if leilao.status == 'N' %}
        {% if tipo_usuario == 'L' or tipo_usuario == 'A' %}
        <div class="detalha-lote-botao-central">
            <a href="{% url 'catalogo:inicia_leilao' leilao.id %}"><p class="small-button">Iniciar Leilão</p></a>
        </div>
        {% endif %}
        {% endif %}
        {% if leilao.status == 'A' %}
        {% if tipo_usuario == 'C' or tipo_usuario == 'A' %}
        <div class="detalha-lote-botao-central">
            <a href="{% url 'catalogo:faz_lance' leilao.id %}"><p class="small-button">Fazer Lance</p></a>
        </div>
        {% endif %}
        {% if tipo_usuario == 'L' or tipo_usuario == 'A' %}
        <div class="detalha-lote-botao-central">
            <a href="{% url 'catalogo:cancela_leilao' leilao.id %}"><p class="small-button">Cancelar Leilão</p></a>
        </div>
        {% endif %}
        {% if tipo_usuario == 'L' or tipo_usuario == 'A' %}
        <div class="detalha-lote-botao-central">
            <a href="{% url 'catalogo:encerra_leilao' leilao.id %}"><p class="small-button">Finalizar Leilão</p></a>
        </div>
        {% endif %}
        {% endif %}
        {% if leilao.status == 'F' %}
        {% if leilao.pago != True and comprador == usuario and status %}
        <div class="detalha-lote-botao-central">
            <a href="{% url 'catalogo:paga_leilao' leilao.id %}"><p class="small-button">Pagar Lance do Leilão</p></a>
        </div>
        {% endif %}
        {% endif %}
        {% if leilao.status == 'F' or leilao.status == 'C' %}
        {% if tipo_usuario == 'L' or tipo_usuario == 'A' %}
        <div class="detalha-lote-botao-central">
            <a href="{% url 'catalogo:gera_relatorio' leilao.id %}"><p class="small-button">Gerar Relatório</p></a>
        </div>
        {% endif %}
        {% endif %}
        {% if tipo_usuario == 'L' or tipo_usuario == 'A' %}
        <div class="detalha-lote-botao-central">
            <a href="{% url 'catalogo:atualiza_leilao' leilao.id %}"><p class="small-button">Editar</p></a>
        </div>
        {% endif %}
        
        {% if tipo_usuario == 'A' %}
        <div class="detalha-lote-botao-central">
            <a href="{% url 'catalogo:deleta_leilao' leilao.id %}"><p class="small-button">Deletar</p></a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}