{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'catalogo:detalha_lote' lote.id %}">Lote {{ lote.name }}</a></h2>

<div class="detalha-lote">
    <ul>
        <li>Nome: {{ lote.name }}</li>
        <li>Descrição:{{ lote.descricao }}</li>
        <li>Estado:{{ estado }}</li>
        <li>Vendedor: {{ lote.vendedor.username }}</li>

        <br/>
        
        <li>Valor mínimo de reserva: R$ {{ lote.valor_minimo_de_reserva }}</li>
        <li>Taxa de Comissão:{{ lote.taxa_de_comissao }}</li>

        <br/>

        {% if lote.valor_minimo_de_lote != 0 %}
        <li>Valor mínimo de lote: R$ {{ lote.valor_minimo_de_lote }}</li>
        <li>Valor mínimo por lance: R$ {{ lote.valor_minimo_por_lance }}</li>
        {% else %}
        <p>É necessário que o leiloeiro preencha os valores de lote e por lance do lote.</p>
        {% endif %}
    
    </ul>

    <div class="detalha-lote-botoes">
        {% if tipo_usuario == 'L' or tipo_usuario == 'A' %}
        {% if lote.valor_minimo_de_lote != 0 %}
        <div class="detalha-lote-botao-lateral">
            <a href="{% url 'catalogo:cria_leilao' lote.id %}"><p class="small-button">Cria Leilão</p></a>
        </div>
        {% endif %}
        {% endif %}
        {% if tipo_usuario == 'V' or tipo_usuario == 'A' %}
        <div class="detalha-lote-botao-central">
            <a href="{% url 'catalogo:atualiza_lote' lote.id %}"><p class="small-button">Editar Detalhes</p></a>
        </div>
        {% endif %}
        {% if tipo_usuario == 'L' or tipo_usuario == 'A' %}
        <div class="detalha-lote-botao-central">
            <a href="{% url 'catalogo:insere_valores' lote.id %}"><p class="small-button">Inserir Valores</p></a>
        </div>
        {% endif %}
        <div class="detalha-lote-botao-lateral">
            <a href="{% url 'catalogo:deleta_lote' lote.id %}"><p class="small-button">Deletar</p></a>
        </div>
    </div>
</div>

{% endblock %}