{% extends "base.html" %}

{% block content %}

<h2 id="tcolor"><a href="{% url 'catalogo:gera_relatorio_faturamento_geral' %}">Relatório de faturamento geral</a></h2>


<div class="detalha-relatorio">
    <table>
        <tr>
            <th>Indicativo</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>Faturamento das comissões dos vendedores</td>
            <td>R$ {{ comissoes_pagas_por_vendedores }}</td>
        </tr>
        <tr>
            <td>Faturamento das comissões dos compradores</td>
            <td>R$ {{ comissoes_pagas_por_compradores }}</td>
        </tr>
        <tr>
            <td>Faturamento total</td>
            <td>R$ {{ faturamento_total }}</td>
        </tr>
    </table>
</div>

<a href="{% url 'catalogo:gera_relatorio_pdf_faturamento_geral' %}"><p class="button">Download</p></a>

{% endblock %}