{% extends "base.html" %}

{% block content %}

<h2 id="tcolor"><a href="{% url 'catalogo:gera_relatorio_desempenho_geral' %}">Relatório de desempenho geral</a></h2>


<div class="detalha-relatorio">
    <table>
        <tr>
            <th>Indicativo</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>Número total de leilões</td>
            <td>{{ leiloes_totais }}</td>
        </tr>
        <tr>
            <td>Leilões ativos</td>
            <td>{{ leiloes_ativos }}</td>
        </tr>
        <tr>
            <td>Leilões cancelados</td>
            <td>{{ leiloas_cancelados }}</td>
        </tr>
        <tr>
            <td>Leilões finalizados</td>
            <td>{{ leiloes_finalizados }}</td>
        </tr>
        <tr>
            <td>Leilões não iniciados</td>
            <td>{{ leiloes_nao_iniciados }}</td>
        </tr>
        <tr>
            <td>Número total de lotes</td>
            <td>{{ lotes_totais }}</td>
        </tr>
        <tr>
            <td>Número total de lances</td>
            <td>{{ lances_totais }}</td>
        </tr>
        <tr>
            <td>Número total de usuários cadastrados</td>
            <td>{{ usuarios_cadastrados }}</td>
        </tr>
    </table>
</div>

<a href="{% url 'catalogo:gera_relatorio_pdf_desempenho_geral' %}"><p class="button">Download</p></a>

{% endblock %}