{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'catalogo:lista_lote_leilao' %}">Lotes disponíveis</a></h2>

<ul>
    {% for lote in lista_de_lotes_disponiveis %}
    <li>{{ lote.name }}  ({{ lote.valor_minimo_de_lote }} Valor)
    <a href="{% url 'catalogo:cria_leilao' lote.id %}">Cria Leilão</a>
    <a href="{% url 'catalogo:atualiza_lote' lote.id %}">Editar</a>
    <a href="{% url 'catalogo:deleta_lote' lote.id %}">Deletar</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'catalogo:cria_lote' %}">Novo lote</a>


<h2><a href="{% url 'catalogo:lista_lote_leilao' %}">Leilões Ativos</a></h2> 

<ul>
    {% for leilao in lista_de_leiloes %}
    <li>{{ leilao.name }}
    <a href="{% url 'catalogo:faz_lance' leilao.id %}">Fazer Lance</a>
    <a href="{% url 'catalogo:atualiza_leilao' leilao.id %}">Editar</a>
    <a href="{% url 'catalogo:deleta_leilao' leilao.id %}">Deletar</a>
    <ul>
        <li>Lote: {{leilao.lote.name}}</li>
        <li>Descrição: {{leilao.lote.descricao}}</li>
    </ul>
    <ul>
        <li>Lances:</li>
        <ul>
            {% for lance in lista_de_lances %}
            {% if lance.leilao.id == leilao.id %}
            <li>Valor: {{ lance.valor }} - Comprador: {{ lance.comprador.username }}

            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}