{% extends "base.html" %}

{% load filter %}

{% block content %}

<h2><a href="{% url 'catalogo:lista_leilao' %}">Leilões Ativos</a></h2> 

<div class="items-wrapper">
    {% for leilao in lista_de_leiloes_ativos %}
    <div class="item">
        <p class="item-title">{{ leilao.name }}</p>
        <hr class="item-title-divider">
        <p class="item-description"><b>Lote:</b> {{leilao.lote.name}}</p>
        <p class="item-description"><i>{{leilao.lote.descricao}}</i></p>
        <hr class="item-title-divider">
        <p class="item-description"><b>Lance Vencedor:</b></p>
        {% if lista_de_lances|pega_lances_de_leilao:leilao.id|first %}
        <ul>
            <li>{{ lista_de_lances|pega_lances_de_leilao:leilao.id|first }}</li> 
        </ul>
        {% else %}
        <ul>
            <li>Não há lances.</li>
        </ul>
        {% endif %}

        {% if lista_de_lances|pega_lances_de_leilao:leilao.id|first %}
        <table>
            <tr>
                <th>Valor</th>
                <th>Comprador</th>
            </tr>

            {% for lance in lista_de_lances %}
            {% if lance.leilao.id == leilao.id %}
            
            <tr>
                <td>{{ lance.valor }}</td>
                <td>{{ lance.comprador.username }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% endif %}

        <a href="{% url 'catalogo:detalha_leilao' leilao.id %}"><p class="small-button bottom-anchor">Ver Detalhes</p></a>

    </div>
    {% empty %}
    <p class="item-none">Não há leilões ativos.</p>
    {% endfor %}
</div>

<h2><a href="{% url 'catalogo:lista_leilao' %}">Leilões Não Iniciados</a></h2> 

<div class="items-wrapper">
    {% for leilao in lista_de_leiloes_nao_iniciados %}
    <div class="item">
        <p class="item-title">{{ leilao.name }}</p>
        <hr class="item-title-divider">
        <p class="item-description"><b>Lote:</b> {{leilao.lote.name}}</p>
        <p class="item-description"><i>{{leilao.lote.descricao}}</i></p>
        <a href="{% url 'catalogo:detalha_leilao' leilao.id %}"><p class="small-button bottom-anchor"></p>Ver Detalhes</p></a>
    </div>
    {% empty %}
    <p class="item-none">Não há leilões não iniciados.</p>
    {% endfor %}
</div>

<h2><a href="{% url 'catalogo:lista_leilao' %}">Leilões Finalizados</a></h2> 

<div class="items-wrapper">
    {% for leilao in lista_de_leiloes_finalizados %}
    <div class="item">
        <p class="item-title">{{ leilao.name }}</p>
        <hr class="item-title-divider">
        <p class="item-description"><b>Lote:</b> {{leilao.lote.name}}</p>
        <p class="item-description"><I>{{leilao.lote.descricao}}</I></p>
        <hr class="item-title-divider">
        <p class="item-description"><b>Lance Vencedor:</b></p>
        {% if lista_de_lances|pega_lances_de_leilao:leilao.id|first %}
        <ul>
            <li>{{ lista_de_lances|pega_lances_de_leilao:leilao.id|first }}</li> 
        </ul>
        {% else %}
        <ul>
            <li>Não há lances.</li>
        </ul>
        {% endif %}
        <a href="{% url 'catalogo:detalha_leilao' leilao.id %}"><p class="small-button bottom-anchor">Ver Detalhes</p></a>
    </div>
    {% empty %}
    <p class="item-none">Não há leilões finalizados.</p>
    {% endfor %}
</div>

<h2><a href="{% url 'catalogo:lista_leilao' %}">Leilões Cancelados</a></h2> 

<div class="items-wrapper">
    {% for leilao in lista_de_leiloes_cancelados %}
    <div class="item">
        <p class="item-title">{{ leilao.name }}</p>
        <hr class="item-title-divider">
        <p class="item-description"><b>Lote:</b> {{leilao.lote.name}}</p>
        <p class="item-description"><I>{{leilao.lote.descricao}}</I></p>
        <hr class="item-title-divider">
        <p class="item-description"><b>Lance Vencedor:</b></p>
        {% if lista_de_lances|pega_lances_de_leilao:leilao.id|first %}
        <ul>
            <li>{{ lista_de_lances|pega_lances_de_leilao:leilao.id|first }}</li> 
        </ul>
        {% else %}
        <ul>
            <li>Não há lances.</li>
        </ul>
        {% endif %}
        <a href="{% url 'catalogo:detalha_leilao' leilao.id %}"><p class="small-button bottom-anchor">Ver Detalhes</p></a>
    </div>
    {% empty %}
    <p class="item-none">Não há leilões cancelados.</li>
    {% endfor %}
</div>

{% endblock %}