{% extends "base.html" %}

{% block content %}

<h2><a href="{% url 'catalogo:lista_lote' %}">Lotes disponíveis</a></h2>

<ul>
    {% for lote in lista_de_lotes_disponiveis %}
    <li>{{ lote.name }}</li>
    <ul>
        <li>Vendedor:  {{ lote.vendedor.username }}</li>
        <li><a href="{% url 'catalogo:detalha_lote' lote.id %}">Ver Detalhes</a></li>
    </ul>
    {% endfor %}
</ul>

{% if tipo_usuario == 'V' or tipo_usuario == 'A' %}
<a href="{% url 'catalogo:cria_lote' %}">Novo lote</a>
{% endif %}

{% endblock %}