{% extends "base.html" %}

{% block content %}

<h2 id="tcolor">Pagamento</h2>

<div class="detalha-lote"> 
    <div class="pagamento">
        <form method="post"> {% csrf_token %}
            <h3>Você deve pagar R${{ valor }} para completar esta ação.</h3>

            <br/>

            <label for="cartao">Digite seu cartão:</label>
            
            <br/>
            <br/>
            
            <input id="cartao" type="number" name="cartao" min="0" required />

            <br/>
            <br/>

            <div class="botao-pagamento">
                <input class="button" type="submit" value="Pagar" />
            </div>
        </form>
    </div>
</div>

{% endblock %}