{% extends "base.html" %}

{% block content %}


{% if tipo_usuario != 'C' %}
<a href="{% url 'catalogo:lista_lote' %}"><p class="button">Ver seus Lotes</p></a>
{% endif %}

<p class="button"><a href="{% url 'catalogo:lista_leilao' %}">Ver Leilões Ativos</a></p>

{% if tipo_usuario == 'L' %}
<a href="{% url 'catalogo:gera_relatorio_desempenho_geral' %}"><p class="button">Ver Relatório Geral de Desempenho</p></a>
<a href="{% url 'catalogo:gera_relatorio_faturamento_geral' %}"><p class="button">Ver Relatório Geral de Faturamento</p></a>
{% endif %}

<h3>Alguns Leilões Ativos:</h3>
<ul class="items">
    {% for leilao in lista_de_leiloes_ativos %}
    <a href="{% url 'catalogo:detalha_leilao' leilao.id %}">
    <li class="item"><h4>{{ leilao.name }}</h4>

    <br/>

    <ul>
        <li>Lote: {{leilao.lote.name}}</li>
        <li>Descrição: {{leilao.lote.descricao}}</li>
    </ul>
    </li>
    </a>
    {% endfor %}
</ul>

{% endblock %}