body {
    margin:auto;
}

p,li,label, #tcolor{
    color: #363636;
}

a { 
    color:#363636;
    text-decoration:none;
}

a.header, a.logout { 
    color: #ffffff;
    text-decoration:none;
}

a.logout {
    font-weight: bold;
}

a:hover {  
    text-decoration: underline;
}

#user {
    float:right; 
    color: rgb(11, 58, 52); 
}

#header-bg {
    background-image: linear-gradient(#f6402d, #ff7f35);
}

body {
    /* background-image: url("../images/wallpaper.jpg");  */
    margin: 0;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    border: 0;
    padding: 0;
    background-color: #e7e7e7;
  }

table {
    width: 75%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

th {
    text-align: left;
    border-bottom: 1px solid #f3997e;
}

/*
    Subtitles
*/

h1 {
    width: 100%;
    padding: 1%;
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    /* font-style: normal; */
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #ffffff;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #363636;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0;
    color: #363636;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    color: #363636
}

/*
    Nav bar
*/
nav {
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
    /* background-color: #dbdbdb; */
    border: 0;
    padding: 5px;
    margin: 0;
    color: #ffffff;
}

/*
    Home login banner
*/

p.login-banner {
    text-align: center;
}

/*
    Login Style
*/

p.login-warning {
    color: #800808;
    text-align: center;
}

div.login-panel {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 60%;
    height: auto;
    margin: auto;
    background-color: #e7e7e7;
    border-radius: 20px;
}

p.login-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

p.login-forms {
    text-align: center;
}

p.login-lost {
    font-size: 17px;
    text-align: right;
    text-align: center;
}

input[type=text], input[type=password], input[type=number], select  {
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f7ad96ee;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    color: #363636;
}

.buttonHolder{ text-align: center; }

/*
    generic style
*/
div.main-content {
    max-width: 1000px;
    margin: auto;
}

div.internal-background {
    background-color: #e7e7e7;
}

div.header {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 5px;
    background-color: #dbdbdb;
    position: sticky;
}

div.logout {
    font-size: 17px;
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #dbdbdb;
    border: 0;
    padding: 5px;
    color: #363636;
}

div.title {
    font-size: 20px;
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #dbdbdb;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    color: #363636;
}

div.buttons-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}

div.button-item {
    position: relative;
    padding-top: 0.5%;
    width: 35%;
    height: 100%;
    margin: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #e7e7e7;
    border-radius: 20px;
    box-sizing: border-box;
}

p.home-button {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f16940;
    border: 5px;
    margin: auto;
    padding: 12px;
    border-radius: 15px;
    /* color: #363636; */
    color: #ffffff;
    box-sizing: border-box;
}

p.button, input[type=submit] {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    /* background-color: #C1C1C1; */
    background-color: #f16940;
    border: 5px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 12px;
    border-radius: 15px;
    width: 30%;
    /* color: #363636; */
    color: #ffffff;
    /* box-sizing: border-box; */
}

p.home-button:hover, p.button:hover, input[type=submit]:hover {
    background-color: #e65c39;
}

p.small-button, input.small-button {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    /* background-color: #C1C1C1; */
    background-color: #f16940;
    /* background-color: rgb(238, 77, 45); */
    border: 3px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: #ffffff;
}

div.items-wrapper {
    display: flex;
    flex-wrap: wrap;
}

div.item {
    position: relative;
    padding-top: 0.5%;
    width: 31%;
    height: 100%;
    margin: 1%;
    background-color: #f1f1f1;
    /* background-image: linear-gradient(#f7a39a, rgb(233, 176, 143)); */
    border-radius: 20px;
    box-sizing: border-box;
}

p.item-title {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}

p.item-description {
    margin-left: 10px;
    margin-right: 5px;
}

p.center {
    text-align: center;
}

hr.item-title-divider {
    border-top: 1px solid #f3997e;
}

p.item-none {
    text-align: center;
    font-style: italic;
    margin: auto;
}

p.item-warning {
    color: #e65c39;
    text-align: center;
}

div.divisor {
    height: 20%;
}

/*
    detalha lotes
*/

div.detalha-lote {
    padding-top: 0.5%;
    width: 60%;
    height: auto;
    margin: auto;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-sizing: border-box;
}

div.detalha-lote-botoes {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

div.detalha-lote-botao-lateral {
    box-sizing: border-box;
    flex-grow: 1;
}

div.detalha-lote-botao-central {
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    flex-grow: 1;
}

div.pagamento {
    padding: 5%;
    padding-bottom: 3%;
    /* margin:10%; */
}

div.botao-pagamento {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

div.botao-pagar {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    box-sizing: border-box;
    flex-grow: 1;
}

/*
    detalha leilao
*/

h2.titulo-leilao {
    margin-bottom: 2px;
}

h5.periodo {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
}

/*
    detalha relatório
*/
div.detalha-relatorio {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 60%;
    height: auto;
    margin: auto;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-sizing: border-box;
}
