{% load static %}
<!--This is the base template-->
<html>
<head>
    <title>Leilo.ar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<div id="header-bg">

<nav>
    {% if user.is_authenticated %}
        Olá, {{ user }}! | <a class="logout" href="{% url 'logout' %}">Logout</a>
    {% endif %}
</nav>

<div id="header">
    <h1><a class="header" href="/catalogo/">Leilo.ar</a></h1>
</div><!-- header -->

</div id="header-bg">

<body>

    <div class="main-content">
    
        <div id="content">
            {% block content %}
            {% endblock %}
        </div><!-- content -->
        
        <div id="footer">
        </div>
    </div>
</body>

</html>